# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_K30_BLE_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "k30_ble_split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_K30_BLE_SPLIT_LEFT || SHIELD_K30_BLE_SPLIT_RIGHT

config ZMK_SPLIT
    default y

if ZMK_BLE

config ZMK_SLEEP
    default y

config ZMK_IDLE_SLEEP_TIMEOUT
    default 600000

endif # ZMK_BLE

endif
